$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.title {
    text-align: center;
}
.cell-selector {
    width: 100px;
    height: 100px;
    background: url('../cellNotSelected.jpg')
}
.img {
    width: 100px;
    height: 100px;
}
td {
    width: 100px;
    height: 100px;
}
.game-board {
    border: #000000;
    margin: auto;
}