$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import './sass-variable.scss';

.doge {
    background-image: url("https://i.imgur.com/yIn6Zuk.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}  

.title {
    text-align: center;
}
.cell-selector {
   margin: auto;
}


.userActionModal {
    margin: auto;
    display: -webkit-inline-box;
}

.game-list-column {
    color: $color-black;
    font-size: 2em;
    text-align: center;
    padding: .5em;
}
.game-square {
    color: #ff00b3;
    background-color: -webkit shade($color-black, 20%);
    font-size: 5em;
    text-align: center;
    width: 1em;
    height: 2em;
}
.game-board {
    border: $color-black;
    margin:auto;
}



